.navigationContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.userPanelContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logoutBtn {
  background-color: transparent;
  border: transparent solid 1px;
  margin-left: 8px;
  max-height: 35px;
  cursor: pointer;
}

.loginBtn {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
  margin-left: auto;
  padding: 2px 8px;
  background-color: var(--color-primary);
  border-radius: 4px;
  color: var(--color-secondary);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
